
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@import "tailwindcss";
@plugin "daisyui" {

  themes: light --default;

}

@theme {
  --font-ubuntu : "Ubuntu", sans-serif;
  --font-roboto : "Roboto", sans-serif;
  --color-andyblue: #26547C;
  --color-andydarkblue: #164975;
  --color-andygold: #a99767;
  --color-andybrown: #210F04;
  --color-andyred: #690500;
  --breakpoint-3xl: 144rem;
  
}